langchain-core==1.2.16
langchain==1.2.10
langgraph==1.0.10 
langgraph-checkpoint==4.0.1
langgraph-checkpoint-sqlite==3.0.3
langchain-groq==1.1.2
fastapi==0.134.0
uvicorn==0.41.0
rich==14.3.3
dotenv==0.9.9